<ion-content class="login-content">
  <div class="login-container">
    <div class="login-logo">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item class="input-item">
        <ion-label position="floating" class="input-label">Email</ion-label>
        <ion-input formControlName="email" type="email" class="input-field"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label position="floating" class="input-label">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" class="input-field"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!loginForm.valid" class="login-button">Ingresar</ion-button>
    </form>
    <div class="register-link">
      <a (click)="refresh()" routerLink="/register" style="font-weight: bold;">¿No tenés una cuenta? Registrate</a>
    </div>
  </div>
</ion-content>
