.register-content {
  --background: #1a001a;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 400px;
}

.input-item {
  --background: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.input-field {
  --background: transparent;
  --color: #1a001a;
}

.input-label {
  --color: #1a001a;
}

ion-item {
  --highlight-color-focused: #1a001a;
  --highlight-color-invalid: red;
  --highlight-color-valid: #1a001a;
}

ion-label {
  color: white;
}


.requirements-list {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.requirements-list ion-item {
  --background: transparent;
  color: white;
}

.requirements-list ion-item.valid {
  color: green;
}

.requirements-list ion-item.invalid {
  color: red;
}

.register-button {
  --background: white;
  --color: #1a001a;
  border: 2px solid #1a001a;
  margin-top: 20px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.login-link a {
  color: white;
}
